<div class="container">
    <div class="row">
        <div class="col-md-6 border">
            <div class="container-fluid text-center">
                <h4 class="col-md-12 border-bottom">Giỏ hàng</h4>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <h6>Số lượng</h6>
                </div>
                <div class="col-md-4">{{amount}}</div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <h6>Total </h6>
                </div>
                <div class="col-md-4">{{totalPrice}} VNĐ</div>
            </div>
        </div>
    </div>
</div>